

<%= form_with(model: [@post, @post.comments.build], validate: true) do |f| %>
      <div class="form-group">
          <% if !parent.nil?%>
          <input type='hidden' name="comment[parent_id]" value="<%= parent.id%>" >
          <%end%>
          <%if parent.nil?%>
            <%= f.label 'New comment' , class: 'font-weight-bold'%>
            <input type='hidden' name="comment[user_id]" value="<%= current_user.id%>" >
            <%= f.text_area :body, required: true, class: 'form-control' %>
            <%= f.file_field :image, class: 'form-control' %>
            <%= f.submit 'Comment', class: 'btn btn-dark mt-2' , id: 'c-btn' %>
          <%else%>
            <input type='hidden' name="comment[user_id]" value="<%= current_user.id%>" >
            <%= f.text_area :body, required: true, class: 'form-control mt-2 ', id:id%>
            <%= f.submit 'Reply', class: 'btn btn-dark mt-2' %>
          <%end%>
      </div>
<% end %>
